@media screen  and (max-width:767px){
    body{
        margin: 0px;
        margin: 0px;
        background:#000000;
        color:gray;
     }
     
     .glassAndInfo{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:10px;
       }
     .backHome {
        margin:5px;
        text-decoration: none;
        background:green;
        color:aliceblue;
        padding:5px;
        border-radius: 5px;
        font-weight: bold;
      }
     p{
        font-size:normal;
        word-wrap: wrap;
     }
     .welcomeIntro{
        padding-left: 5px;
    }
     .itemsContainer {
        margin:10px;
         display: flex;
         box-shadow: 1px 2px 2px 3px black;
         padding:5px;
         margin-bottom:0px;
         border-radius: 20px;

      width:95%;
      height:80%;
      flex-direction:column;
      width:fit-content;
      gap:1rem;
      }
      .itemsContainer>div{
        
        padding:5px;
        border-radius: 20px;
        color:gray;
 
     }
     .photo {
         display: flex;
         height:80%;
         width:98%;

     }
     .glassAndInfo{
      display:flex;
      flex-direction: column;
      color:gray;
     } 
     .inputSearch {
         padding:5px;
         padding-left:10px;
         border-radius: 5px;
         width:80%;
     }
    .glassAndInfo {
         display: flex;
         justify-content: space-between;
         gap:2rem;
     }
}
@media screen  and (min-width:767px) and (max-width:1023px){
    body{
        background:black;
       margin: 0px;
    margin: 0px;
       color:gray;
     
    }
    .welcomeIntro{
        padding-left: 5px;
    }
    .itemsContainer {
        margin:20px;
        display: flex;
      
     width:fit-content;
     flex-direction:row;
     border-radius: 20px;
     height:300px;
     gap:0.1rem;
     flex-wrap: wrap;
     }
     .itemsContainer>div{
        
        padding:5px;
        border-radius: 20px;
        color:gray;
        box-shadow: 1px 3px 3px 2px gray;
 
     }
    .photo {
        
        height:300px;
        width:300px;
        border-radius: 20px;

    }
    .glassAndInfo{
     display:flex;
     flex-direction: column;
     align-items: center;
    }
    
    .inputSearch {
        padding:15px;
        padding-left:5px;
        border-radius: 5px;
        width:30%;
        margin:20px;
    }
    .btns:hover {
        cursor: pointer;
    }
    .closeTap {
        margin-left:-45px;
    }
    .cartNav {
        display: flex;
        justify-content:space-between;
       height:30px;
        background:rgba(0, 0, 0, 0.624);
        color:white;
        padding:20px;
    }
    .h3 {

        font-size: 15px;
        display: flex;
        justify-content:flex-start;
        gap:1rem;
        color:whitesmoke;

    }
    .backHome {
      margin:5px;
      text-decoration: none;
      background:green;
      color:aliceblue;
      padding:5px;
      border-radius: 5px;
      font-weight: bold;
    }
  
    
   

   
    .glassAndInfo{
        display:flex;
        flex-direction: column;
        align-items: center;
        padding:10px;
       }
  
    .photo {
         
        height:200px;
        width:200px;
    }
}

@media screen  and (min-width:1024px){
    body{
        background:black;
       margin: 0px;
    margin: 0px;
       color:gray;
     
    }
    .welcomeIntro{
        padding-left: 5px;
    }
    .itemsContainer {
        margin:20px;
        display: flex;
      
     width:fit-content;
     flex-direction:row;
     border-radius: 20px;
     height:300px;
     gap:0.1rem;
     flex-wrap: wrap;
     }
     .itemsContainer>div{
        
        padding:5px;
        border-radius: 20px;
        color:gray;
        box-shadow: 1px 3px 3px 2px gray;
 
     }
    .photo {
        
        height:300px;
        width:300px;
        border-radius: 20px;

    }
    .glassAndInfo{
     display:flex;
     flex-direction: column;
     align-items: center;
     padding:10px;
    }
    
    .inputSearch {
        padding:3px;
        border-radius: 5px;
        width:20%;
        margin:20px;
    }
    .btns:hover {
        cursor: pointer;
    }
    .closeTap {
        margin-left:-45px;
    }
    .cartNav {
        display: flex;
        justify-content:space-between;
       height:30px;
        background:rgba(0, 0, 0, 0.624);
        color:white;
        padding:20px;
    }
    .h3 {

        font-size: 15px;
        display: flex;
        justify-content:flex-start;
        gap:1rem;
        color:whitesmoke;

    }
    .backHome {
      margin:5px;
      text-decoration: none;
      background:green;
      color:aliceblue;
      padding:5px;
      border-radius: 5px;
      font-weight: bold;
    }
  
    
   

   
    .glassAndInfo {
        display: flex;
        justify-content: space-between;
        gap:2rem;
    }
  
    .photo {
         
        height:200px;
        width:200px;
    }
}