


@media screen  and (max-width:767px) {
    body {
        background-image:radial-gradient(#7e8f9f,rgb(81, 81, 105));
        font-size:25px;
  
      }
      .alert { 
        font-size:25px;
  
    
    }
    .showTablet {
        display: none;
    }
    .showLaptop {
        display: none;
    }
    .showMobile {
       font-size: 30px;
       float: right;
       color:#7e8f9f
    }
    
    .yes{
        background:orange;
        border:1px solid blue;
        height:fit-content;
        padding:10px;
        width:fit-content;
  
    
    }
    .no{
        background:orange;
        border:1px solid blue;
        height:fit-content;
        padding:10px;
        width:fit-content;
  
    
    }
    input {
      padding:10px;
    }
      .submit:hover {
       
        cursor: pointer;
    }
    .faTrash {
        color:blue;
        border: none;
        font-size: 25px;
        
    }
    ol {
      margin:10px;
    }
    .edit {
      color:green;
      border: none;
      font-size: 25px;
      
  }
    span {
      font-size: larger;
    }
    .faTrash:hover {
        cursor: pointer;
        color:navy;
    }
    
    
    .question {
        color:white;
        opacity: 0.7;
    }
    .yes:hover {
        cursor: pointer;
        border:2px solid white;
    }
    .no:hover {
        cursor: pointer;
        border:2px solid white;
    }
    .alert {
      background: rgb(0,0,40);
      padding:20px;
  
  }
  }
  @media screen  and (min-width:767px) and (max-width:1023px)  {
    body {
        background-image:radial-gradient(#7e8f9f,rgb(81, 81, 105));
        font-size:25px;
  
      }
      .alert { 
        font-size:25px;
  
    
    }
    .showTablet {
        display: none;
    }
    .showLaptop {
        display: none;
    }
    .showMobile {
       font-size: 30px;
       float: right;
       color:#7e8f9f
    }
    
    .yes{
        background:orange;
        border:1px solid blue;
        height:fit-content;
        padding:10px;
        width:fit-content;
  
    
    }
    .no{
        background:orange;
        border:1px solid blue;
        height:fit-content;
        padding:10px;
        width:fit-content;
  
    
    }
    input {
      padding:10px;
    }
      .submit:hover {
       
        cursor: pointer;
    }
    .faTrash {
        color:blue;
        border: none;
        font-size: 25px;
        
    }
    ol {
      margin:10px;
    }
    .edit {
      color:green;
      border: none;
      font-size: 25px;
      
  }
    span {
      font-size: larger;
    }
    .faTrash:hover {
        cursor: pointer;
        color:navy;
    }
    
    
    .question {
        color:white;
        opacity: 0.7;
    }
    .yes:hover {
        cursor: pointer;
        border:2px solid white;
    }
    .no:hover {
        cursor: pointer;
        border:2px solid white;
    }
    .alert {
      background: rgb(0,0,40);
      padding:20px;
  
  }
    }
    @media screen  and (min-width:1024px)  {
      body {
    
      background:whitesmoke;
      }
      .editInput {
       
            padding:10px;
          
      }
      .showMobile {
          display: none;
      }
      .showTablet{
          display: none;
      }
      .showLaptop {
        font-size: 30px;
        float: right;
        color:#7e8f9f
       }
      
      .alert {
          background: rgb(0,0,40);
          padding:20px;
      
      }
      .yes{
          background:orange;
          border:1px solid blue;
          height:20px;
      
      }
      .no{
          background:orange;
          border:1px solid blue;
      
      }
      .question {
          color:white;
          opacity: 0.7;
      }
      .yes:hover {
          cursor: pointer;
          border:2px solid white;
      }
      .no:hover {
          cursor: pointer;
          border:2px solid white;
      }
      .laptop{
          margin:50px;
          padding: 50px;
          width:300px;
          background-image:radial-gradient(rgb(126, 143, 159),rgb(81, 81, 105));
      }
      .submit {
          background:#7272b0;
          border: none;
          color:orange;
          padding:3px;
      }
    }
    
  